<footer>
    <div class="footer-main">
        <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-12 col-sm-12">
        <div class="footer-top-box">
          <h3>Business Time</h3>
          <ul class="list-time">
            <li>Sunday - Saturday:  </li>
            <br>
            <li><strong> 24 hours Services</strong></li> 
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12">
        <div class="footer-top-box">
          <h3>Newsletter</h3>
          <form class="newsletter-box">
            <div class="form-group">
              <input class="" type="email" name="Email" placeholder="Email Address*" />
              <i class="fa fa-envelope"></i>
            </div>
            <button class="btn hvr-hover" type="submit">Submit</button>
          </form>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12">
        <div class="footer-top-box">
          <h3>Social Media</h3>
          <p>You can contact us on Our Social Media</p>
          <ul>
            <li><a href="https://web.facebook.com/Jeothery-International-Ltd-103239072362654/"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="https://www.instagram.com/jeotheryinternationalltd/"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fab fa-google-plus" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fab fa-pinterest-p" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fab fa-whatsapp" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <hr>
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="footer-widget">
                        <h4>About Joethery</h4>
                        <p>We are a Registered Business that its objective is to provide Unisex Quality Wears for both Adult and Children</p> 
          
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="footer-link">
                        <h4>Information</h4>
                        <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Customer Service</a></li>
                            <li><a href="#">Our Sitemap</a></li>
                            <li><a href="#">Terms &amp; Conditions</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Delivery Information</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="footer-link-contact">
                        <h4>Contact Us</h4>
                        <ul>
                            <li>
                                <p><i class="fas fa-map-marker-alt"></i>Head Office: Warehouse No. 70<br>Utako Utra Modern Market<br>FCT Abuja, Nigeria</p>
                                <p><i class="fas fa-map-marker-alt"></i>Branch Office: Stop STA 51/55 USA Line<br>Utako Utra Modern Market<br>FCT Abuja, Nigeria</p>
                            </li>
                            <li>
                              <p><i class="fas fa-phone-square"></i>Phone: <a href="tel://+234 8065300793">+234 8065300793 </a>/ <a href="tel://+234 8036888130">+234 8036888130</a> / <a href="tel://+234 8097154506">+234 8097154506</a></p>
                          </li>
                            <li>
                                <p><i class="fas fa-envelope"></i>Email: <a href="mailto:logbozorjovita222@gmail.com">ogbozorjovita222@gmail.com</a></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>