{% load static %}
<!DOCTYPE html>
<html lang="zxx">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>JOETHERY INTERNATIONAL</title>

    <!-- Site Icons -->
    <link
      rel="shortcut icon"
      href="{% static 'website/images/logo.png' %}"
      type="image/x-icon"
    />
    <link
      rel="apple-touch-icon"
      href="{% static 'website/images/apple-touch-icon.png' %}"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="{% static 'website/css/bootstrap.min.css' %}"
    />
    <!-- Site CSS -->
    <link rel="stylesheet" href="{% static 'website/css/style.css' %}" />
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'website/css/responsive.css' %}" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'website/css/custom.css' %}" />

    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap"
      rel="stylesheet"
    />

    <!-- Css Styles -->
    <link
      rel="stylesheet"
      href="{% static 'css/bootstrap.min.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/font-awesome.min.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/elegant-icons.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/nice-select.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/jquery-ui.min.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/owl.carousel.min.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/slicknav.min.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/style.css' %}"
      type="text/css"
    />
  </head>
{% block content %}{% endblock %}

  <!-- Footer Section End -->
  <script src="{% static 'website/js/jquery-3.2.1.min.js' %}"></script>
  <script src="{% static 'website/js/popper.min.js' %}"></script>
  <script src="{% static 'website/js/bootstrap.min.js' %}"></script>
  <!-- ALL PLUGINS -->
  <!-- Js Plugins -->
  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
  <script src="{% static 'js/jquery-ui.min.js' %}"></script>
  <script src="{% static 'js/jquery.slicknav.js' %}"></script>
  <script src="{% static 'js/mixitup.min.js' %}"></script>
  <script src="{% static 'js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>

  <script src="{% static 'website/js/jquery.superslides.min.js' %}"></script>
  <script src="{% static 'website/js/bootstrap-select.js' %}"></script>
  <script src="{% static 'website/js/inewsticker.js' %}"></script>
  <script src="{% static 'website/js/bootsnav.js.' %}"></script>
  <script src="{% static 'website/js/images-loded.min.js' %}"></script>
  <script src="{% static 'website/js/isotope.min.js' %}"></script>
  <script src="{% static 'website/js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'website/js/baguetteBox.min.js' %}"></script>
  <script src="{% static 'website/js/form-validator.min.js' %}"></script>
  <script src="{% static 'website/js/contact-form-script.js' %}"></script>
  <script src="{% static 'website/js/custom.js' %}"></script>
</body>
</html>
